* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
  letter-spacing: 0.04em;
}

.logo-title,
.nav-title {
  margin: 0;
}

.logo-title {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav-title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav-logo {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./components/images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.header-title {
  margin: 0;
  font-size: 39px;
  /* letter-spacing: -0.05em; */
}

.content-list {
  margin-top: 46px;
  max-width: 400px;
}

.content-list li {
  line-height: 19px;
  padding-block: 10px;
  letter-spacing: 0.1em;
  font-family: 'Inter', sans-serif;
}

.content-list li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}